<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<title>Odium</title>
	</head>

	<body>
		<h1><%= message %></h1>
		<h2><%= error.status %></h2>
		<pre>
			<%= error.stack %></h2>
		</pre>
	</body>

</html>